body {
    background-color: rgb(16, 16, 16);
}

.custom-placeholder::placeholder{
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
}

.half-width {
    width: 50%;
}

.errors {
    color:  rgb(255, 255, 255);
    font-family: "Rubik Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    margin: 50px auto;
}

.popup {
    background-color: rgb(36, 36, 36);
    margin: 50px auto;
    width: 800px;
    height: 500px;
    border: 4mm ridge rgba(149, 2, 2, 0.753);
}

.content {
    padding: 20px 20px 15px;
}

.registration {
    display: flex;
    align-items: center;
    padding: auto 0;
}

.axevich-sector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.axevich-title {
    color: yellow;
    -webkit-text-stroke: 1.2px #000000;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}


.form-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    color:  rgb(209, 0, 0);
    -webkit-text-stroke: 1.2px #000000;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    text-align: center;
    padding: 10px 0 0;
}

.form-sector ul {
    display: flex;
    flex-direction: column;
}

.form-item, .form-item-button {
    background-color: rgb(16, 16, 16);
    margin: 7px 10px;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 12px;
}

.form-item input {
    background-color: rgb(16, 16, 16);
    font-size: 20px;
    color: white;
}

.form-item-button {
    background-color: yellow;
    border: 1px solid black;
    padding: 5px 12px;
}

.form-item-button li {
    display: block;
    margin: 0 auto;
    -webkit-text-stroke: 1px #000000;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 221, 255);
}

.form-descr {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    color: rgb(16, 16, 16);
    margin: 5px 20px 0 0;
}


.terms{
    padding: 20px 0 0;
    text-align: center;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    color: rgb(16, 16, 16);
}

.terms a {
    color: rgba(164, 2, 2, 0.741);
    -webkit-text-stroke: 0.5px #000000;
}